.landing-page {
	height: 100%;
}

.button button {
	background-color: #14222b;
	color: #fff;
	border: none;
	margin-right: 24px;
	margin-top: 15px;
	font-size: 24px;
}

.button button:hover {
	text-decoration: underline;
	opacity: 0.6;
	cursor: pointer;
}

.body {
	background-color: #14222b;
	height: calc(100% - 95px);
	color: #fff;
}

.apresentation {
	padding-left: 90px;
	padding-top: 2.5em;
	font-size: 64px;
	font-weight: 400;
}

.body p {
	padding-left: 95px;
	color: #ddd;
	font-size: 24px;
}
