.form {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
	width: 75vw;
	max-width: 500px;
	padding: 50px;
}

.submit {
	margin: 25px 25%;
	padding: 10px;
	font-size: 18px;
	text-decoration: none;
	color: #14222b;
}

.submit:hover {
	cursor: pointer;
}
